 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 665px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 555px;
}

.u-section-1 .u-container-layout-1 {
  padding: 11px 16px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 19px auto 0 44px;
}

.u-section-1 .u-text-2 {
  font-weight: 400;
  margin: 20px auto 0 44px;
}

.u-section-1 .u-btn-1 {
  margin: 82px auto 0;
}

.u-section-1 .u-icon-1 {
  width: 55px;
  height: 55px;
  margin: -12px 0 0 auto;
}

.u-section-1 .u-image-1 {
  min-height: 555px;
  background-image: url("images/1210_109.jpg");
  background-position: 17.29% 86.94%;
  background-size: auto 120%;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 568px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 630px;
  }

  .u-section-1 .u-icon-1 {
    width: 46px;
    height: 46px;
    margin-top: -3px;
  }

  .u-section-1 .u-image-1 {
    min-height: 458px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 461px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 680px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 0;
    margin-left: 60px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 28px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 61px;
  }

  .u-section-1 .u-icon-1 {
    width: 42px;
    height: 42px;
    margin-top: 17px;
    margin-right: 6px;
  }

  .u-section-1 .u-image-1 {
    min-height: 351px;
    background-position: 32.19% 49.67%;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 737px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 555px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 11px;
    margin-left: 11px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 22px;
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 60px;
  }

  .u-section-1 .u-icon-1 {
    width: 60px;
    height: 60px;
    margin-top: 0;
    margin-right: 22px;
  }

  .u-section-1 .u-image-1 {
    min-height: 527px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 542px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 572px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 0;
    margin-left: auto;
  }

  .u-section-1 .u-text-2 {
    margin-top: 18px;
    margin-right: 0;
    margin-left: 3px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 37px;
  }

  .u-section-1 .u-icon-1 {
    width: 37px;
    height: 37px;
    margin-top: 2px;
    margin-right: 0;
  }

  .u-section-1 .u-image-1 {
    min-height: 332px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 505px;
}

.u-section-2 .u-text-1 {
  font-weight: 400;
  margin: 40px auto 0;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: -14px;
  margin-bottom: 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 400px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-text-2 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 80px auto 0;
}

.u-section-2 .u-text-3 {
  font-weight: 200;
  font-size: 2.25rem;
  margin: 38px auto 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 400px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-text-4 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 80px auto 0;
}

.u-section-2 .u-social-icons-1 {
  height: 45px;
  min-height: 16px;
  width: 267px;
  min-width: 180px;
  margin: 41px auto 0;
}

.u-section-2 .u-icon-1 {
  color: rgb(197, 54, 164) !important;
  height: 100%;
}

.u-section-2 .u-icon-2 {
  height: 100%;
}

.u-section-2 .u-icon-3 {
  height: 100%;
  color: rgb(0, 122, 185) !important;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 435px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 330px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 330px;
  }

  .u-section-2 .u-icon-2 {
    color: rgb(59, 89, 152) !important;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 358px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 259px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: 38px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    font-size: 1.5rem;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 259px;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-top: 38px;
  }

  .u-section-2 .u-social-icons-1 {
    margin-top: 29px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 601px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 250px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 28px;
    margin-left: 45px;
    margin-right: 45px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-4 {
    margin-top: 28px;
  }

  .u-section-2 .u-social-icons-1 {
    margin-top: 45px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 583px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 237px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 40px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 41px;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-2 .u-text-4 {
    margin-top: 27px;
  }

  .u-section-2 .u-social-icons-1 {
    margin-top: 49px;
  }
}