 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.35), rgba(0,0,0,0.35)), url("/images/GALLERY25.jpg");
  background-position: 50% 39.44%;
}

.u-section-1 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-1 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  width: 621px;
  margin: 211px auto 0;
}

.u-section-1 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 102px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    width: 633px;
    margin-top: 141px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 93px;
    margin-left: 437px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 114px;
    margin-right: 44px;
    margin-left: 44px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 57px;
    margin-left: 327px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-top: 81px;
    margin-left: 50px;
    margin-right: 50px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 61px;
    margin-left: 237px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    background-position: 37.42% 39.44%;
  }

  .u-section-1 .u-text-1 {
    margin-top: 73px;
    margin-right: 1px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 46px;
    margin-left: 137px;
    padding: 8px 31px 8px 30px;
  }
}