 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.35), rgba(0,0,0,0.35)), url("/images/GALLERY25.jpg");
  background-position: 50% 39.44%;
  min-height: 100vh;
}

.u-section-1 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  width: 621px;
  margin: 211px auto 0;
}

.u-section-1 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 102px auto 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    width: 633px;
    margin-top: 141px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 93px;
    margin-left: 437px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 115px;
    margin-left: 50px;
    margin-right: 50px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 54px;
    margin-left: auto;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-top: 81px;
    margin-left: calc(((100% - 540px) / 2));
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-btn-1 {
    margin-top: 61px;
    margin-left: calc(((100% - 540px) / 2) + 187px);
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    background-position: 37.42% 39.44%;
  }

  .u-section-1 .u-text-1 {
    margin-top: 73px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 48px;
    margin-left: calc(((100% - 540px) / 2) + 186px);
    padding: 8px 31px 8px 30px;
  }
}
/* WhatsApp Button */

.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  font-size:30px;
	box-shadow: 2px 2px 3px #999;
  z-index:100;
}

.my-float{
	margin-top:16px;
}